    <div class="reachus_wrapper"> 
      <div class="reach_icon"><img border="0" alt="REACH US AT" src="public/img/reach_icon.png"></img></div>
      <div class="reach_txt">
          <div class="reachusTitle"> REACH US AT: </div>
					<div class="reachuslable"> Sales Enquiries: </div>
					<div class="reachusLink"><a href="mailto:sales@shephertz.com">sales@shephertz.com</a> </div>
					<div class="reachuslable">Feedback:</div>
					<div class="reachusLink"><a href="mailto:feedback@shephertz.com">feedback@shephertz.com</a></div>
					<div class="reachuslable">Customer Support:</div>
					<div class="reachusLink"><a href="mailto:support@shephertz.com">support@shephertz.com</a></div>
      </div>
    </div>
    
    <div class="reachus_wrapper_vcard"> 
      <div class="vcard_txt">
        ShepHertz Technologies Pvt. Ltd.
 		    Spaze I-Tech Park, Tower-A,
 		    11th floor - 1128, sector-49,
 		    Sohna Road, Gurgaon - 122001
 		    INDIA
      </div>
    </div>
  </body>
</html>
